<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Imobiliária</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
  
  
    <body>
        <section id="box">
        	<header>
            	<a href="/" target="_self" class="logo"><%= image_tag("logo.png", :alt => "logo") %><!--<img src="app/assets/images/logo.png" alt="logo" />--></a>
                <a href="/" target="_self"><h1>Imobiliária</h1></a>
            </header>
            
            <section id="menu">
            	<ul>
                	<li><%= link_to 'Dono',donos_path %></li>
                    <li><%= link_to 'Interessado',interessados_path %></li>
                    <li><%= link_to 'Imovel',imovels_path %></li>
                    <li><%= link_to 'Ambiente',ambientes_path %></li>
                </ul>
            </section>
            
            <section id="content">
            	<section><%= yield %></section>
            </section>
            
            <footer>
            	<p>&copy; Powered by Rodrigo Chaves</p>
            </footer>
        </section>
    </body>
</html>
