<h1>Listing quantidadetipoambientes</h1>

<table>
  <thead>
    <tr>
      <th>Quantidade</th>
      <th>Interessado</th>
      <th>Ambiente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quantidadetipoambientes.each do |quantidadetipoambiente| %>
      <tr>
        <td><%= quantidadetipoambiente.quantidade %></td>
        <td><%= quantidadetipoambiente.interessado %></td>
        <td><%= quantidadetipoambiente.ambiente %></td>
        <td><%= link_to 'Show', quantidadetipoambiente %></td>
        <td><%= link_to 'Edit', edit_quantidadetipoambiente_path(quantidadetipoambiente) %></td>
        <td><%= link_to 'Excluir', quantidadetipoambiente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quantidadetipoambiente', new_quantidadetipoambiente_path %>
