= semantic_form_for [@interessado] do |form|
  
  = form.input :nome, :label => 'Nome'
  = form.input :login, :label => 'Login'
  = form.input :senha, :label => 'Senha'
  = form.input :email, :label => 'E-mail'
  = form.submit 'Salvar'
