<h1>Listing codigos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Senha</th>
      <th>Email</th>
      <th>Endereco</th>
      <th>Cpf</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @codigos.each do |codigo| %>
      <tr>
        <td><%= codigo.nome %></td>
        <td><%= codigo.login %></td>
        <td><%= codigo.senha %></td>
        <td><%= codigo.email %></td>
        <td><%= codigo.endereco %></td>
        <td><%= codigo.cpf %></td>
        <td><%= link_to 'Show', codigo %></td>
        <td><%= link_to 'Edit', edit_codigo_path(codigo) %></td>
        <td><%= link_to 'Destroy', codigo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Codigo', new_codigo_path %>
