<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @codigo.nome %>
</p>

<p>
  <strong>Login:</strong>
  <%= @codigo.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @codigo.senha %>
</p>

<p>
  <strong>Email:</strong>
  <%= @codigo.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @codigo.endereco %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @codigo.cpf %>
</p>

<%= link_to 'Edit', edit_codigo_path(@codigo) %> |
<%= link_to 'Back', codigos_path %>
