<%= form_for(@qtdeambiente) do |f| %>
  <% if @qtdeambiente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qtdeambiente.errors.count, "error") %> prohibited this qtdeambiente from being saved:</h2>

      <ul>
      <% @qtdeambiente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qtde %><br>
    <%= f.number_field :qtde %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
